body {
    background: radial-gradient(#C5C3C6, #DCDCDD);
    color: #2D3047;
    line-height: 30px;
    font-size: 20px;
    font-family: sans-serif;
    padding: 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


button {
    font-size: 20px;
    padding: 5px 10px;
    border: 1px solid blue;
    background-color: blue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    border-color: darkolivegreen;
    background-color: darkolivegreen;

}

.hidden {
    display: none;
}

.fade-out {
    animation: fadeOut 1000ms forwards;
}

.fade-in {
    animation: fadeIn 1000ms forwards;
}

.question {
    margin: 20px 0;
}

.animal-img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    object-fit: cover;
    object-position: center;
}